{{> navbar }}

<br>

<div class="container">
  <div class="row border">
    <div class="col-sm-3 border-end">
      <form id="brandForm" class="p-2 d-grid gap-2" action="/brands" method="post">
        <input type="text" class="form-control form-control-sm" name="brandname" id="brandName" placeholder="Brandname..." required>
        <input class="btn btn-primary btn-sm bg-gradient" id="submitEditBrandBtn" type="submit" value="Submit">
        <input type="button" class="btn btn-secondary btn-sm" id="cancelEditBrandBtn" value="Cancel">
        {{!-- <div class="row mb-2">
          <input type="text" class="form-control form-control-sm" name="brandname" id="brandName" placeholder="Brandname..." required>
        </div>
        <div class="row">
          
        </div> --}}
      </form>
    </div>
    <div class="col p-2">
      <span class="badge bg-secondary bg-gradient">Brands Count: {{brands.length}}</span>
      <br><br>
      <ul class="list-group">
        {{#each brands}}
        <li class="list-group-item list-group-item-dark d-flex justify-content-between text-capitalize">{{this.name}}
          <div class="d-flex align-items-center">
            <!-- <a href="#" class="editBrand link-secondary" data-id="{{this._id}}"><i class="bi bi-pencil-fill"></i></a> -->
            <!-- <button type="button" class="btn btn-sm btn-primary editBrand" data-url="{{this.url}}"><i class="bi bi-pencil-fill"></i></button> -->
            <button type="button" class="badge bg-primary bg-gradient border-0" id="editBrandBtn" data-url="{{this.url}}"><i class="bi bi-pencil-fill"></i></button>
            <button type="button" class="badge bg-danger bg-gradient border-0" id="deleteBrandBtn" data-id="{{this._id}}"><i class="bi bi-trash-fill"></i></button>
            {{!-- <form action="/brands/{{this._id}}?_method=DELETE" class="deleteBrandForm" method="post">
              <button type="submit" class="badge bg-danger border-0"><i class="bi bi-trash-fill"></i></button>
            </form> --}}
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
