{{> navbar }}

<main>
  <div class="container-lg overflow-hidden">
    <span class="badge bg-secondary">Brands Count: {{brandsCount}}</span>
    <span class="badge bg-secondary">Parts Count: {{partsCount}}</span>
    <span class="badge bg-secondary">Stocks Count: {{stocksCount}}</span>
    <span class="badge bg-secondary">Units Count: {{unitsCount}}</span>
        <span class="badge bg-secondary">Dispatches Count: {{dispatchesCount}}</span>
  </div>
</main>
