<div class="container mt-5">
  <div class="row g-5">

    <div class="col-md-6">
      <form id="brandForm" class="d-grid gap-2" action="/brands" method="post">
        <input type="text" class="form-control form-control-sm bg-transparent text-white" name="brandname" id="brandName" placeholder="Brandname..." required>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex gap-2">
            <button type="submit" class="badge bg-primary bg-gradient border-0" id="submitEditBrandBtn">Submit</button>
            <button type="button" class="badge bg-secondary bg-gradient border-0" id="cancelEditBrandBtn">Cancel</button>
          </div>
          <span class="badge">{{brands.length}}</span>
        </div>
      </form>
      
      <ul class="list-group small">
        {{#each brands}}
        <li class="d-flex px-1 justify-content-between align-items-center text-capitalize text-white">{{this.name}}
          <div class="d-flex align-items">
            <button type="button" class="badge bg-transparent text-primary border-0 editBrandBtn" data-url="{{this.url}}"><i class="bi bi-pencil-fill"></i></button>
            <form action="/brands/{{this._id}}?_method=DELETE" class="deleteBrandForm" method="post">
              <button type="submit" class="badge bg-transparent text-danger border-0 py-2"><i class="bi bi-trash-fill"></i></button>
            </form>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <form id="partForm" class="d-grid gap-2" action="/parts" method="POST">
      {{!-- <form id="partForm" class="" action="/parts" method="POST"> --}}
        <div class="d-sm-flex">
          <input type="text" id="partName" class="form-control form-control-sm bg-transparent text-white" name="partname" placeholder="Partname" required>
          <select id="part_brandName" class="form-select form-select-sm bg-transparent text-white" name="brandname" required>
            <option value="">Select brand</option>
            {{#each brands}}
              <option value="{{this._id}}" class="">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex gap-2">
            <button type="submit" class="badge bg-primary bg-gradient border-0" id="submitEditPartBtn">Submit</button>
            <button type="button" class="badge bg-secondary bg-gradient border-0" id="cancelEditPartBtn">Cancel</button>
          </div>
          <span class="badge">{{parts.length}}</span>
        </div>
      </form>
      <ul class="list-group gap-1 small">
        {{#each parts}}
        <li class="d-flex px-1 justify-content-between align-items-center text-capitalize text-white">{{this.name}}
          <div class="d-flex align-items">
            <button type="button" class="badge bg-transparent text-primary border-0 editPartBtn" data-url="{{this.url}}"><i class="bi bi-pencil-fill"></i></button>
            <form action="/parts/{{this._id}}?_method=DELETE" class="deletePartForm" method="post">
              <button type="submit" class="badge bg-transparent text-danger border-0 py-2"><i class="bi bi-trash-fill"></i></button>
            </form>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <form id="stockForm" class="d-grid gap-2" action="/stocks" method="post">
        <div class="d-sm-flex gap-2">
          <select id="stock_partName" class="form-select form-select-sm bg-transparent text-white" name="partname" required>
            <option value="">Choose a part...</option>
            {{#each uniquePartNames}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
          <input type="number" id="quantity" class="form-control form-control-sm bg-transparent text-white" name="quantity" placeholder="Qty." required>
        </div>
        <div class="d-sm-flex gap-2">
          <select id="stock_brandName" class="form-select form-select-sm bg-transparent text-white" name="brandname" required>
            <option value="">Choose a brand...</option>
          </select>
          <input type="number" id="price" class="form-control form-control-sm bg-transparent text-white" name="price" placeholder="Price" required>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex gap-2">
            <button type="submit" class="badge bg-primary bg-gradient border-0" id="submitEditStockBtn">Submit</button>
            <button type="button" class="badge bg-secondary border-0" id="cancelEditStockBtn">Cancel</button>
          </div>
          <span class="badge">{{stocks.length}}</span>
        </div>
      </form>
      
      {{#if stocks}}
        {{!-- <table class="table table-sm table-bordered small text-white"> --}}
        <table class="table table-sm table-borderless small text-white">
          <thead>
            <tr>
              <th>Item</th>
              <th>Brand</th>
              <th>Qty</th>
              <th>Price</th>
              <th class="col-1 text-center">Action</th>
            </tr>
          </thead>
          {{#each stocks}}
            <tr>
              <td class="text-capitalize">{{this.part.name}}</td>
              <td class="text-capitalize">{{this.part.brand}}</td>
              <td>{{this.quantity}}</td>
              <td>{{this.price}}</td>
              <td class="d-flex align-items-center">
                <!-- <a href="#" class="editStock link-secondary" data-id="{{this._id}}"><i class="bi bi-pencil-fill"></i></a> -->
                {{!-- <button type="button" class="badge bg-primary border-0 editStock" data-url={{this.url}}><i class="bi bi-pencil-fill"></i></button> --}}
                <button type="button" class="badge bg-transparent text-primary border-0 editStockBtn" data-url={{this.url}}><i class="bi bi-pencil-fill"></i></button>
                <!-- <a href="#" class="deleteStock link-danger" data-id="{{this._id}}"><i class="bi bi-trash-fill"></i></a> -->
                <form action="/stocks/{{this._id}}?_method=DELETE" class="deleteStockForm" method="post">
                  <button type="submit" class="badge bg-transparent text-danger border-0"><i class="bi bi-trash-fill"></i></button>
                </form>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>

    <div class="col-md-6">
      <form id="editDispatchForm" class="d-grid gap-2" action="/dispatches" method="post">
        <select id="plateNumber" class="form-select form-select-sm bg-transparent text-white" name="plateNumber" required>
          <option value="">Choose a unit...</option>
          {{#each units}}
            <option class="text-uppercase" value="{{this.plateNumber}}">{{this.plateNumber}}</option>
          {{/each}}
        </select>
        <select id="stock" class="form-select form-select-sm bg-transparent text-white" name="stock" required>
          <option value="">Choose a stock...</option>
          {{#each stocks}}
            <option value="{{this._id}}">{{this.part.name}} ({{this.part.brand}})</option>
          {{/each}}
        </select>
        <!-- <div class="row mb-2">
          <input type="number" id="quantity" class="form-control form-control-sm" name="quantity" placeholder="Qty." required>
        </div> -->
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex gap-2">
            {{!-- <button id="submitBtn" type="submit" class="btn btn-primary btn-sm">Submit</button> --}}
            <button class="badge bg-primary bg-gradient border-0" id="submitBtn">Submit</button>
          </div>
          <span class="badge">{{dispatches.length}}</span>
        </div>
      </form>
      <input type="text" class="form-control form-control-sm my-3 bg-transparent border-0 border-bottom text-white" placeholder="Search records">
      {{#if dispatches}}
        {{!-- <table class="table table-sm table-bordered small text-white"> --}}
        <table class="table table-sm table-borderless small text-white">
          <thead>
            <tr>
              <th>Unit</th>
              <th>Item</th>
              <th>Brand</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          {{#each dispatches}}
            <tr>
              <td>{{this.plateNumber}}</td>
              <td>{{this.stock.part.name}}</td>
              <td>{{this.stock.part.brand}}</td>
              <td>{{this.stock.quantity}}pc</td>
              <td>{{this.stock.price}}</td>
              <td>
                {{!-- <a href="#" class="editDispatch link-secondary" data-id="{{this._id}}"><i class="bi bi-pencil-fill"></i></a> --}}
                <a href="#" class="badge bg-transparent text-primary editDispatch" data-id="{{this._id}}"><i class="bi bi-pencil-fill"></i></a>
                {{!-- <a href="#" class="deleteDispatch link-danger" data-id="{{this._id}}"><i class="bi bi-trash-fill"></i></a> --}}
                <a href="#" class="badge bg-transparent text-danger deleteDispatch" data-id="{{this._id}}"><i class="bi bi-trash-fill"></i></a>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>

    <div class="col-md-6 mb-5">
      <form id="unitForm" class="d-grid gap-2" action="/units" method="post">
        <input type="text" class="form-control form-control-sm" name="plateNumber" id="plateNumber" placeholder="Unit Ex. ABC123/1234" pattern="[A-Za-z]{3}[0-9]{3,4}" required>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex gap-2">
            {{!-- <input class="btn btn-primary btn-sm" id="submitEditUnitBtn" type="submit" value="Submit"> --}}
            <button type="submit" class="badge bg-primary bg-gradient border-0">Submit</button>
            <button type="button" class="badge bg-secondary bg-gradient border-0" id="cancelEditUnitBtn">Cancel</button>
          </div>
          <span class="badge">{{units.length}}</span>
        </div>
      </form>
    </div>

  </div>
</div>
