<div class="container">
  <div class="row border">
    <div class="col-sm-3 border-end">
      <form id="partForm" class="p-2" action="/parts" method="POST">
        <div class="row mb-2">
          <input type="text" id="partName" class="form-control form-control-sm" name="partname" placeholder="Partname" required>
        </div>
        <div class="row mb-2">
          <select id="brandName" class="form-select form-select-sm" name="brandname" required>
            <option value="">Select brand</option>
            {{#each brands}}
              <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="row">
          <input class="btn btn-sm btn-primary partEditBtn" type="submit" value="Submit">
          <button type="button" class="btn btn-secondary btn-sm partCancelBtn">Cancel</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4 p-2">
      <span class="badge bg-secondary">Parts Count: {{parts.length}}</span>
      <br><br>
      {{#if parts}}
        <table class="table table-sm table-bordered small">
          <thead>
            <tr>
              <th>Item</th>
              <th>Brand</th>
              <th class="col-2">Action</th>
            </tr>
          </thead>
          {{#each parts}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.brand.name}}</td>
              <td class="d-flex align-items-center">
                <!-- <a href="#" class="editPart link-secondary" data-id="{{this._id}}"><i class="bi bi-pencil-fill"></i></a> -->
                <button type="button" class="badge bg-primary border-0 editPart" data-url="{{this.url}}"><i class="bi bi-pencil-fill"></i></button>
                <!-- <a href="#" class="deletePart link-danger" data-id="{{this._id}}"><i class="bi bi-trash-fill"></i></a> -->
                <form action="/parts/{{this._id}}?_method=DELETE" class="deletePartForm"  method="post">
                  <button type="submit" class="badge bg-danger border-0"><i class="bi bi-trash-fill"></i></button>
                </form>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>

    <!-- <div class="col p-2 border-start">
      {{#each parts}}
        <a href="#" class="btn btn-outline-primary btn-sm getPart" data-id="{{this._id}}" data-name="{{this.name}}">{{this.name}}</a>
      {{/each}}
      <br><br>
      <table class="table table-sm table-bordered small">
        <tr>
          <th>Date</th>
          <th>Unit</th>
          <th>Quantity</th>
        </tr>
        <tbody id="partOutput"></tbody>
      </table>
    </div> -->

  </div>
</div>
